 <footer>
<div class="row" style="border-top: 1px solid black; margin-top:40px;margin-bottom:20px;padding-top:10px;">
<div class="large-9 columns">
<span style="-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-khtml-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);display:inline-block;font-size:1em">©</span> Copyleft Piráti, 2014. Všechna práva vyhlazena. Kopírování je aktem lásky. Obsah této stránky můžete volně šířit podle licence <a href="http://creativecommons.org/licenses/by/4.0/">Creative commons Uveďte autora 4.0</a>.
</div>
<div class="large-3 columns"><img src="/assets/images/logo-footer.png" alt="Logo Pirátů" /></div>
</div>
</footer>
{% include js.html %}
