<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/assets/js/foundation/foundation.js"></script>
<script src="/assets/js/foundation/foundation.topbar.js"></script>
<script src="/assets/js/foundation/foundation.tooltip.js"></script>
<script src="/assets/js/foundation/foundation.alert.js"></script>
{% if page.typ == "úplné znění předpisu" %}
<script src="/assets/js/custom/dateManipulations.js"></script>
{% endif %}
<script>
  $(document).foundation();
</script>
